{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Sửa thông tin chi cục thú y|  ID cơ sở : {{ thuy.id }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Course</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'luusuathongtinchicucthuy' %}" method="post">
                  {% csrf_token %}
                <div class="form-group">
                    <label>Người đứng đầu </label>
                    <input type="text" class="form-control" name="nguoidungdaucosothuy" value="{{ coso.nguoidungdau}}">
                    <input type="hidden"  name="coso_id"  value="{{ coso.id }}">

                  </div>
                  <div class="form-group">
                    <label>Địa điểm</label>
                    <input type="text" class="form-control" name="diadiemthuy" placeholder="điền địa điểm" value="{{ coso.diadiem}}">
                  </div>
                    <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="Emailthuy" placeholder="Điền email" value="{{coso.Email}}">
                  </div>
                  
                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Course</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

